body {
    background-color: blueviolet
}

.uppercase {
    font-size: 22px;
}

p {
    font-family: "arial" ;
    color: white;
}
p2 {
    font-family: "arial" ;
    color: white;
}
p3 {
    font-family: "arial" ;
    color: white;
}

img {
    width: 330px;
    height: auto;
}