
body {
    background-color: yellowgreen;
}
nav a {
    color: red;
}

#current-link {
    text-decoration: none;
    font-size: 20px;
    color: red;
    border: 4px outset greenyellow;
    font-family: "arial" ;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
    color: purple;
    font-family: "arial" ;
}

p {
    color: brown;
    font-family: "arial";
    font-size: 22px;
}

img {
    width: 550px;
    height: auto;
}

h1 {
    border: 5px ridge brown;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}